################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/APBD3/FileContentIndex
/cwiczenia3/.vs/cwiczenia3/FileContentIndex/2d438356-d04a-4528-a1d8-78f54afc70c3.vsidx
/cwiczenia3/.vs/cwiczenia3/FileContentIndex/c13b63d5-3270-4bba-aa02-dfed9e44ee50.vsidx
/cwiczenia3/.vs/cwiczenia3/FileContentIndex/f158b1a8-6ea9-438a-afbd-cff4c1e6d221.vsidx
*.vsidx
